<h1>New Article</h1>

<%# Here we call our partials template, passing in article for our logic %>
<%= render "form", article: @article %>

<%# Note how a partial's file name MUST be underscored: `/_partial.html.erb` %>
<%# but when referenced, it's a string WITHOUT underscore %>